* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('sunset-20180820-30593-1nxanpj\ copy.jpeg');
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    padding-bottom: 2rem;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(
    circle,
    rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgba(230, 224, 113, 1) 100%
  );
    
}

.location {
    color: white;
}

.city {
    color: white;
    padding-top: 200px;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.info h4{
    padding: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

main {
    flex: 1 1 100%;
    display: flex;
    padding: 25px 25px 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#location  {
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

#location .date {   
    color: white;
    font-size: 20px;
}

.info  {
    color: white;
    font-size: 20px;
}

.c .f .circle {
    color: white;
    font-size: 20px;
}

.current .temp {
    color: white;
    font-size: 100px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.75);
}

.current .temp span {
    font-weight: 500;
}

.current .temp {
    font-weight: 500;;
}

.current .weather {
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}